.task-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  border-bottom: 1px solid #dfdfdf;
  background-color: white;
  color: hsl(235, 19%, 35%);
}

.cut {
  text-decoration: line-through;
}

.dim {
  opacity: 0.4;
}

.card-heading {
  font-size: 1rem;
  font-weight: normal;
}

.icon {
  height: 1rem;
}

.btn-container {
  display: flex;
  align-items: center;
}
