.task-list-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.count-header {
  font-size: 1rem;
  font-weight: lighter;
}
