<img class="hero-img" src="../assets/bg-desktop-light.jpg" alt="" />
<app-task-entry-component
  [value]="inputValue"
  (message)="onMessage($event)"
></app-task-entry-component>

<app-task-list-component
  [tasks]="tasks"
  [onStatusChange]="onStatusChange.bind(this)"
  [onDelete]="onDelete.bind(this)"
  [totalTasks]="getTotalTasks()"
  [remainingTasks]="getRemainingTasks()"
  [clearAll]="clearAll.bind(this)"
  [getTasksByOption]="getTasksByOption.bind(this)"
  [changeOption]="changeOption.bind(this)"
  [option]="option"
></app-task-list-component>
