.task-entry-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.entry-input {
  padding: 1.5rem 2rem;
  font-size: 1rem;
  outline: none;
  border: none;
  color: #000;
  border-radius: 0.5rem;
  width: 100%;
}

.hero-heading {
  width: 40%;
  font-size: 2.5rem;
  color: white;
  letter-spacing: 0.7rem;
  margin-bottom: 2rem;
}

@media screen and (orientation: portrait) {
  .hero-heading {
    width: 80%;
  }
  .input-container {
    width: 80%;
  }
}
