/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f6f4;
  font-size: 18px;
}

.btn-container {
  margin-left: 1rem;
}

.btn {
  padding: 1rem 2rem;
  border: none;
  outline: none;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  border-radius: 0.8rem;
  transition: 0.2s;
}

.btn:hover {
  opacity: 0.7;
}
